<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8" />
    <title>Corona Virus Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="/js/datatable.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>Corona Virus Tracker Application</h1>
      <p>This application lists the current number of cases reported across globe</p>

      <div class="jumbotron">
        <h1 class="display-4" th:text="${totaleportedCases}"></h1>
        <p class="lead">Total number of COVID-19 cases as of today</p>
        <hr class="my-4">
        <p>
          <span>New cases reported since previous day:</span>
          <span th:text="${totalNewCases}"></span>
          <a th:href="@{/displayPieChart}">Pie-Chart</a>
        </p>
      </div>

      <table id="locationStatsTable" class="display" style="width:100%">
          <caption>Global COVID-19 cases</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Province/State</th>
            <th scope="col">Country/Region</th>
            <th scope="col">Total cases reported</th>
            <th scope="col">Changes since last day</th>
          </tr>
        </thead>
        <tr th:each="locationaStat : ${locationaStats}">
          <td th:text="${locationaStat.state}"></td>
          <td th:text="${locationaStat.country}"></td>
          <td th:text="${locationaStat.latestTotalCases}">0</td>
          <td th:text="${locationaStat.diffFromPrevDay}">0</td>
        </tr>
      </table>
    </div>

  </body>

</html>